<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prasad Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar">  
        <ul class="navigation">
            <div id="logo">
                <img src="/static/img/logo.png" alt="logo">
                <p>PDA</p>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/contacts">Contact Us</a></li>
        </ul>
    </nav>

    <div class="picture">
        <h2>Prasad's Dance Academy</h2>
        <h4>Eat.Sleep.Dance.Repeat</h4>
    </div>

    <div class="mission">
        <h2>Our Missions</h2>
        <div class="card">
            <h3>Achieve Perfection</h3>
            <div class="card-box">
                <div class="img">
                    <img src="/static/img/1.png" alt="1">
                </div>
                <div class="content">
                    <p>Best Dance Academy in the World</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="img">
                    <img src="/static/img/2.png" alt="1">
                </div>
                <div class="content">
                    <p>Best Dance Academy in the World</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="img">
                    <img src="/static/img/3.png" alt="1">
                </div>
                <div class="content">
                    <p>Best Dance Academy in the World</p>
                </div>
            </div>
        </div>
    </div>

    <div id="sponsors">
        <h2>Our Sponsors</h2>
        <div id="simg">        
        <img src="/static/img/logo1.png" alt="">
        <img src="/static/img/logo2.png" alt="">
        <img src="/static/img/logo3.png" alt="">
        <img src="/static/img/logo4.png" alt="">
        </div>
    </div>

    <footer>
        | Copyright 2021 &copy; PrasadDanceAcademy.com
    </footer>
</body>

</html>